.inner {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

nav {
  width: 76%;
  display: inline-flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  nav {
    overflow: hidden;
    background-color: #2e2d2d;
    border-top: black solid 2px;
    flex-direction: column;
    width: 100%;
  }
}
nav a {
  text-decoration: none;
  color: #f0ba8c;
}
@media (max-width: 500px) {
  nav a {
    float: left;
    display: block;
    color: #0066ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
}
nav a:hover {
  color: #438dfc !important;
}
@media (max-width: 500px) {
  nav a:hover {
    background-color: #585858;
    color: black;
  }
}

.topnav .icon {
  display: none;
}

.topnav a.active {
  color: #ff5100;
}

@media (max-width: 500px) {
  .topnav a:not(:first-child) {
    display: none;
  }
}

@media (max-width: 500px) {
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media (max-width: 500px) {
  .topnav.responsive {
    position: relative;
  }
}

@media (max-width: 500px) {
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (max-width: 500px) {
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.full_list-expanded {
  display: block;
  color: #d6a35f;
}

.logo {
  width: 20%;
  padding-left: 15px;
}
.logo img {
  width: 100px;
}
@media (max-width: 500px) {
  .logo {
    width: 100%;
    padding-left: 0px;
    display: inline-flex;
    justify-content: center;
  }
}

#header .inner {
  background-color: #0a0a0a;
}
@media (max-width: 500px) {
  #header .inner {
    background-color: #2e2d2d;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
  }
}

#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: peachpuff;
  color: #127df8;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}

#back2Top:hover {
  background-color: #272729;
  color: peachpuff;
}

html {
  background-color: #030303;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #222020;
}

h1 {
  color: peachpuff;
}

#banner {
  background-image: linear-gradient(#2f81fd, #f8b894, black);
  height: 200px;
}
#banner .inner img {
  padding-right: 20%;
}
@media (max-width: 500px) {
  #banner .inner img {
    width: 100%;
    padding-right: 0%;
  }
}

.announcement button {
  border-radius: 10px;
  border-color: #d19341;
  background-color: #303131;
  color: #f1f0ee;
  width: 200px;
}
@media (max-width: 500px) {
  .announcement button {
    display: none;
  }
}

#one {
  background-color: #020202;
  color: #2f81fd;
  height: 600px;
  padding-top: 30px;
}
@media (max-width: 500px) {
  #one {
    height: auto;
  }
}
#one .inner {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  #one .inner {
    flex-direction: column;
  }
}
#one .inner article {
  border: 1px solid #e9b169;
  width: 30%;
  text-align: center;
  height: 500px;
}
@media (max-width: 500px) {
  #one .inner article {
    width: 99%;
    height: auto;
  }
}
#one .inner article img {
  width: 100px;
  padding-top: 30px;
}
#one .inner article p {
  color: whitesmoke;
  padding-left: 15px;
  padding-right: 15px;
}

#about-one {
  height: auto;
  color: white;
}
#about-one .inner article {
  border: 2px solid #0066ff;
  width: 100%;
  padding-bottom: 50px;
}

#about-one .inner {
  display: flex;
  flex-direction: column;
}

@media (max-width: 500px) {
  .team-content {
    display: flex;
    flex-direction: row;
  }
}

.team-pics {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .team-pics {
    width: 49%;
    flex-direction: column;
  }
}

.team-descp {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
@media (max-width: 500px) {
  .team-descp {
    width: 49%;
    flex-direction: column;
  }
}

.team-pics img, .team-descp h4 {
  width: 200px;
  border-radius: 50%;
  text-align: center;
}

#work-one .inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#work-one .inner article {
  width: 75%;
  height: auto;
  padding-bottom: 50px;
  color: white;
  text-align: center;
}
@media (max-width: 500px) {
  #work-one .inner article {
    width: 100%;
  }
}

.vid-photo {
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .vid-photo {
    flex-direction: column;
  }
}

.inner .vid-photo article {
  height: auto;
  text-align: center;
}
@media (max-width: 500px) {
  .inner .vid-photo article {
    width: 90%;
  }
}

#photos {
  padding-right: 10px;
}
@media (max-width: 500px) {
  #photos {
    padding-right: 0px;
  }
}

#vids {
  padding-left: 10px;
}
@media (max-width: 500px) {
  #vids {
    padding-left: 0px;
  }
}

#service-one .inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#service-one .inner article {
  width: 75%;
  height: auto;
  padding-bottom: 50px;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}
@media (max-width: 500px) {
  #service-one .inner article {
    width: 100%;
  }
}

#contact-one .inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#contact-one form {
  width: 100%;
  border: solid 2px #e9b169;
  height: auto;
  padding-bottom: 50px;
  color: white;
  text-align: center;
  padding-top: 50px;
}
@media (max-width: 500px) {
  #contact-one form {
    width: 100%;
  }
}

.hvr-grow {
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(2.1);
}

.footer-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  .footer-content {
    justify-content: space-between;
  }
}

.footer-center {
  width: 40%;
  border-right: 2px #e6a55b solid;
}
@media (max-width: 500px) {
  .footer-center {
    border-right: solid black 0px;
  }
}

.contact-info {
  width: 30%;
}
@media (max-width: 500px) {
  .contact-info {
    width: 40%;
  }
}
.contact-info h4 {
  color: white;
}
.contact-info p {
  color: #6e4434;
}

footer {
  height: auto;
  background-color: #1f1e1e;
  color: #0066ff;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
}
footer .social-icons img {
  padding-top: 20px;
  padding-bottom: 15px;
  width: 30px;
}
footer h5, footer h6 {
  margin-top: 0px;
}
footer h6 {
  margin-bottom: 2px;
}
footer img:hover, footer img:active {
  font-size: 150%;
}

/*# sourceMappingURL=styles.css.map */
