.inner{
    display: inline-flex;
    align-items: center;
    width: 100%;
}
nav{
    width: 80%;
    display: inline-flex;
    justify-content: space-evenly;
    a{
    text-decoration: none;
    color:white;
    }
    a:hover{
        color: rgb(47, 129, 253);
    }
}
.logo{
    width: 20%;
    img{
    }
    @include mobile{

    }
    
}
#header .inner{
    background-color: rgb(14, 13, 13);
}
  
