.inner{
    display: inline-flex;
    align-items: center;
    width: 100%;
}
nav{
    width: 80%;
    display: inline-flex;
    justify-content: space-evenly;
    a{
    text-decoration: none;
    color:white;
    }
    a:hover{
        color: rgb(47, 129, 253);
    }
}
.logo{
    width: 20%;
    img{
    }
    @include mobile{

    }
    
}
#header .inner{
    background-color: rgb(14, 13, 13);
}

//jump to top arrow
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

  
