$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(34, 32, 32);

html{
background-color: rgb(3, 3, 3);
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

//HOME PAGE *****************
#banner{
 background-image: linear-gradient(rgb(47, 129, 253), rgb(248, 184, 148),black);
 height: 200px;
 .inner img{
  padding-right: 20%;
   @include mobile{
     width: 100%;
     padding-right: 0%;
   }
 }
}
.announcement button{
  border-radius: 10px;
  border-color: rgb(209, 147, 65);
background-color: rgb(48, 49, 49);
color: rgb(241, 240, 238);
width: 200px;
@include mobile{
  display: none;
}
}
#one{
  background-color: rgb(2, 2, 2);
  color: rgb(47, 129, 253);
  height: 600px;
  padding-top: 30px;
  @include mobile{
    height:auto;
  }
  .inner{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    @include mobile{
      flex-direction: column;
    }
    article{
      border: 1px solid rgb(233, 177, 105);
      width: 30%;
      text-align: center;
      height:500px;
      @include mobile{
        width:99%;
        height: auto;
      }
      img{
        width: 100px;
        padding-top: 30px;
      }
      p{
        color: whitesmoke;  
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
//

//**********ABOUT***********
#about-one{
  height:auto;
  color: white;
  
  .inner article{
    border: 2px solid rgb(0, 102, 255);
    width: 100%;
    padding-bottom: 50px;
    
  }
}
#about-one .inner{
  display: flex;
  flex-direction: column;
}
.team-content{
  @include mobile{
    display: flex;
    flex-direction: row;
  }
}
.team-pics{
  display: flex;
  justify-content: space-around;
  @include mobile{
    width:49%;
    flex-direction: column;
  }
}
.team-descp{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  @include mobile{
    width: 49%;
    flex-direction: column;
  }
}
.team-pics img, .team-descp h4{
  width:200px;
  border-radius: 50%;
  text-align: center;
}
//

//**********WORK***********
#work-one{
  .inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .inner article{
  width: 75%;
  //border: solid 2px rgb(233, 177, 105);
  height: auto;
  padding-bottom: 50px;
  color: white;
  text-align: center;
  @include mobile{
    width:100%;
  }
  }
}
.vid-photo{
  display: flex;
  flex-direction: row;
  @include mobile{
    flex-direction:column;
  }
}
.inner .vid-photo article {
//border: solid 2px blue !important;
height:auto;
text-align: center;
@include mobile{
  width:90%;
}
}
#photos{
padding-right:10px;
@include mobile{
  padding-right: 0px;
}

}
#vids{
  padding-left: 10px;
  @include mobile{
    padding-left: 0px;
  }
}
//

//**********Services***********
#service-one{
  .inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .inner article{
  width: 75%;
  //border: solid 2px rgb(233, 177, 105);
  height: auto;
  padding-bottom: 50px;
  color: white;
  text-align: center;
  @include mobile{
    width:100%;
  }
  }
}
//////

//Hover CSS animations
.hvr-grow {
  //display: inline-block;
  //vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(2.1);
}
//

footer{
  height: 150px;
  background-color: rgb(31, 30, 30);
  color: rgb(0, 102, 255);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top:25px; 
  .social-icons img{
    padding-top: 20px;
    padding-bottom: 15px;
    width: 30px;
    
  }
  h5, h6{
    margin-top: 0px;
  }
  h6{
    margin-bottom: 2px; 

  }
 img:hover, img:active {font-size: 150%;}

}

