$font-stack:    'Bebas Neue';
$primary-color: rgb(204, 0, 255);

html{
background-color: rgb(3, 3, 3);
}

h1{
  color:peachpuff;
}
h2{
  color:rgb(255, 253, 251);
  text-align: center;
  font-family: $font-stack;
  font-size: 60px;
  @include mobile{
    font-size: 30px;
  }

  
}
h3{
  font-family: $font-stack;
  color: rgb(47, 129, 253);
  text-align: center;
}
p, h4, h5, h6{
  font-family: 'Roboto';
}
#banner .inner h1{
  display:none;
}

//HOME PAGE *****************
#banner{
 background-image: linear-gradient(rgb(47, 129, 253), rgb(248, 184, 148),black);
 height: 200px;
 .inner img{
  padding-right: 20%;
   @include mobile{
     width: 100%;
     padding-right: 0%;
   }
 }
}
.announcement button{
  border-radius: 20px;
  border-color: rgb(235, 232, 228);
background-color: rgb(49, 49, 49);
color: rgb(233, 177, 105);
width: 250px;
height: 50px;
@include mobile{
  display: none;
}
}
#welcome .welcome-text h2{
  padding-top: 30px;
margin-bottom: 0px;
}
#welcome .welcome-text h3{
  margin-top: 5px;
  }
 #welcome .welcome-text .typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
#one{
  background-color: rgb(2, 2, 2);
  color: rgb(47, 129, 253);
  height: 600px;
  padding-top: 30px;
  @include mobile{
    height:auto;
  }
  
  .inner{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    @include mobile{
      flex-direction: column;
    }
    article{
      border: 1px solid rgb(233, 177, 105);
      width: 30%;
      text-align: center;
      height:500px;
      @include mobile{
        width:99%;
        height: auto;
      }
      img{
        width: 100px;
        padding-top: 30px;
      }
      p{
        color: whitesmoke;  
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

//

//**********ABOUT***********
#about-one{
  height:auto;
  color: white;
  padding: 50px 50px 50px 50px;
  @include mobile{
    padding: 10px;
    text-align: center;
  }

  
  .inner article{
    width: 100%;
    padding-bottom: 50px;
    .content header h3{
      text-align: center;
      font-size: 50px;
      color: rgb(47, 129, 253);
    }
    .about-team header h3{
      text-align: center;
      font-size: 50px;
      color: rgb(233, 177, 105);
    }
  }
}
#about-one .inner{
  display: flex;
  flex-direction: column;
}
#tply-source {
    //  display: none;
    }
.team-content{
  @include mobile{
    display: flex;
    flex-direction: row;
  }
}
.team-pics{
  display: flex;
  justify-content: space-around;
  @include mobile{
    width:30%;
    flex-direction: column;
  }
}
.team-descp{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  @include mobile{
    width: 49%;
    flex-direction: column;
  }
}
.team-pics img, .team-descp h4{
  width:200px;
  border-radius: 50%;
  text-align: center;
  @include mobile{
    width:90%;
  }
}
//

//**********WORK***********
#work-one{
  .inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .inner article{
  width: 75%;
  //border: solid 2px rgb(233, 177, 105);
  height: auto;
  padding-bottom: 50px;
  color: white;
  text-align: center;
  @include mobile{
    width:100%;
  }
  }
  .inner article .content header h3{
    font-size: 50px;
  }
  .inner article .vid-photo #photos header h3{
    font-size: 50px;
    color: rgb(47, 129, 253);
  }
  .inner article .vid-photo #vids header h3{
    font-size: 50px;
    color: rgb(233, 177, 105);
  }
}
.vid-photo{
  display: flex;
  flex-direction: row;
  @include mobile{
    flex-direction:column;
  }
}
.inner .vid-photo article {
//border: solid 2px blue !important;
height:auto;
text-align: center;
@include mobile{
  width:90%;
}
}
#photos{
padding-right:10px;
@include mobile{
  padding-right: 0px;
}

}
#vids{
  padding-left: 10px;
  @include mobile{
    padding-left: 0px;
  }
}
//

//**********Services***********
#service-one{
  .inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .inner article{
  width: 75%;
  //border: solid 2px rgb(233, 177, 105);
  height: auto;
  padding-bottom: 50px;
  color: white;
  text-align: center;
  padding-bottom:50px;
  @include mobile{
    width:100%;
  }   
  }
}
//////

//************Contact ****************
#service-one .inner article h3{
  font-size: 50px;
}
#contact-one{
  padding-bottom:20px;
  .inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
form{
  width: 100%;
  border: solid 2px rgb(233, 177, 105);
  height: auto;
  padding-bottom: 50px;
  color: white;
  text-align: center;
  padding-top:50px;
  @include mobile{
    width:100%;
  }
  }
}
#contact-one .contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  .powr-web-form iframe{
    height: 450px;
  }
}


/////////

//Hover CSS animations
.hvr-grow {
  //display: inline-block;
  //vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(2.1);
}
//

.footer-content{
width: 100%;
display: flex;
flex-direction: row;
justify-content: flex-end;
@include mobile{
  justify-content: space-between;
  flex-direction: column-reverse;

}
}
.footer-center{
  width:100%;
  @include mobile{
    border-right: solid black 0px;
    width: 100%;
  }

}
.contact-info{
  width:30%;
  @include mobile{
    width: 100%;
  }
  h4{
    color: white;
  }
  p{
    color: rgb(110, 68, 52);
  }
}

footer{
  height: auto;
  background-color: rgb(31, 30, 30);
  color: rgb(233, 177, 105);
  text-align: center;
  padding-top:25px; 
  padding-bottom: 15px;
  .social-icons img{
    padding-top: 20px;
    padding-bottom: 15px;
    width: 30px;
  }
  h5, h6{
    margin-top: 0px;
  }
  h6{
    margin-bottom: 2px; 

  }
 img:hover, img:active {font-size: 150%;}

}

